@use "./styles/partials/variable" as *;
@use "./styles/partials/mixin" as *;
@use "./styles/partials/fonts";
@use "./styles/partials/text";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: ProximaNova;
    padding: 0;
    margin: 0;
}

#root {
    position: relative;
}

.background {
    @include flex-center;
    width: 1280px;
    height: 832px;
    background: url(./assets/images/website-background.svg);

    &--darker::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 50%;
            top: 0;
        }
}

.modal {
    @include flex-column;
    position: relative;
    z-index: 10;
    width: 607px;
    min-height: 500px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    padding: 26px 63px 24px 101px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 23px;
    }

    &__title {
        font-size: 22px;
    }

    &__row1 {
        padding-top: 19px;
    }

    &__total-hours {
        color: #E76767;
    }

    &__time-error {
        padding-left: 0.5rem;
        color: #E76767;
    }

    &__common-shift {
        display: flex;
        align-items: center;
        padding-top: 12px;  
    }

    &__common-shift-link {
        font-size: 14px;
        line-height: 18px;
        color: #51ACC7;
        padding-right: 12px;

            &:hover {
                text-decoration: underline;
            }
    }

    &__start-time-box {
        padding-top: 27px;
        display: flex;
        align-items: center;
    }

    &__start-time-heading {
        padding-right: 12px;
    }

    &__start-time-label {
        font-weight: 600;
    }

    &__start-time-heading+div {
        width: 93px;
    }

    &__incentive .css-5bi331-control, &__skill-level .css-5bi331-control {
        width: 134px;
    }

    &__break .css-4g6cov-container > div{
        width: 215px;
    }

    &__add-break {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 8px;

        & p {
            color: #51ACC7;
        }
    }

    &__complete {
        @extend .modal;

        padding: 24px 63px;
    }

    &__confirmation {
        @include flex-column;
        align-items: center;
        gap: 27px;

        &>h1 {
            font-size: 48px;
            font-weight: 600;
            color: #555555;
        }

        & p {
            text-align: center;
        }

    }

    &__ok-button {
        margin-top: 47px;
        display: flex;
        justify-content: flex-end;

        > button {
            width: 89px;
        }
    }

    &__checkmark{
        width: 176px;     
    }

    &__error {
        color: red;
    }

}


.icon {
    &__close {
        width: 12px;
        height: 12.5px;
    }

    &__clock {
        height: 17px;
        margin-right: 3px;
    }

    &__trash {
        height: 23px;
        margin-left: 1rem;
    }

    &__plus {
        width: 14px;
    }

    &__alert {
        margin-left: 2rem;
    }
}

// Footer button container
._3vVBF > div {
    justify-content: flex-end;
}

// Breaks label
label._h724f {
    color: #555555;
    margin-bottom: 3px;
}


.click {
    width: 183px;
    height: 34px;
    transform: translateX(133px)translateY(-248px);
}